[submodule "dep/gflags"]
	path = dep/gflags
	url = https://github.com/gflags/gflags.git
[submodule "dep/openmp"]
	path = dep/openmp
	url = http://llvm.org/git/openmp
[submodule "dep/pcg32"]
	path = dep/pcg32
	url = https://github.com/wjakob/pcg32
